#fooldal {
    text-align: center;
    font-family: arial black;
    background-color: white;
    margin-top: 1px;
}




body {
    background-image: url("veres.jpg");
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-left: 15px solid black;
    border-right: 15px solid black;
    border-bottom: 15px solid black;
    border-top: 15px solid black;
}



div {
    background-color: white;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
    background-color: black;

    }

    li {
        float: left;
        border-right:1px solid #bbb;
        }


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;

    }


.active {
    background-color:rgb(59, 125, 212);
    }


